
.first {
  background-image: url("https://hdwallsource.com/img/2016/6/wet-spider-web-wallpaper-49624-51300-hd-wallpapers.jpg");
  background-size: cover;
  margin: 0px;
}

.top {
  background-color: rgba(0,0,0,0.6);
  display: flex;
  box-shadow: 5px 5px black;
}

.logo {
    margin-left: 3%;
    align-items: center;
    align-self: center;
    margin-top: .5%;
    margin-bottom: .5%;
    margin-right: 2%;
}

.logo-text {
  color: beige;
  text-align: center;
  border: double 10px white;
  background-color: rgba(25, 25, 112, 0.6);
  border-radius: 180px;
  padding: 25px;
  margin: 10px;
  font-size: 40px;
  font-family: 'DM Serif Display', serif;
  line-height: 40px;
}

#searching {
    border: groove darkblue 16px;
    display: flex;
    width: 70%;
    margin-left: 1vw;
    align-self: center;
    margin-right: 1vw;
    background-color: rgba(0,0,0,0);
    flex-flow: wrap;

}

.page {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    flex: 1;
    height: 0px;
}

.place {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-decoration: none;
}


.home {
    order: 0;
    color: white;
    border-right: dashed white 5px;
}
.home:hover {
    background-color: black;
    border: solid white;
}

.about {
    order: 1;
    border-right: dashed white 5px;
    color: white;
}
.about:hover {
    background-color: black;
    border: solid white;
}

.projects {
    order: 2;
    border-right: dashed white 5px;
    color: white;
}
.projects:hover {
    background-color: black;
    border: solid white;
}

.resume {
    order: 3;
    border-right: dashed white 5px;
    color: white;
}
.resume:hover {
    background-color: black;
    border: solid white;
}

.contacts {
    order: 4;
    color: white;
}
.contacts:hover {
    background-color: black;
    border: solid white;
    border: solid white;
}

@media screen and (max-width: 984px) and (min-width: 813px) {
    .contacts {
        border-top: dashed white 5px;
    }
    .resume {
        border-right: 0px;
    }
}

@media screen and (max-width: 812px) and (min-width: 680px) {
    .contacts {
        border-top: dashed white 5px;
    }
    .resume {
        border-top: dashed white 5px;
    }
    .projects {
        border-right: dashed white 0px;
    }
}

@media screen and (max-width: 679px) and (min-width: 559px) {
    .about {
        border-right: dashed white 0px;
    }
    .contacts {
        border-top: dashed white 5px;
    }
    .resume {
        border-top: dashed white 5px;
        border-right: dashed white 0px;
    }
    .projects {
        border-top: dashed white 5px;
    }
}

@media screen and (max-width: 557px) and (min-width: 537px) {
    .home {
        border-right: dashed 5px;
        border-color: rgba(0,0,0,0.0);
    }
    .about {
        border-right: dashed white 0px;
        border-top: dashed white 5px;
    }
    .contacts {
        border-top: dashed white 5px;
    }
    .resume {
        border-top: dashed white 5px;
        border-right: dashed white 0px;
    }
    .projects {
        border-top: dashed white 5px;
    }
}

@media screen and (max-width: 535px) {

    .top {
        display: flex;
        flex-direction: column;
    }
    #searching {
        flex-direction: column;
    }
    .page {
        padding: 30px;
    }
    .home {
        border-right: dashed rgba(0,0,0,0.0) 0px;
    }
    .about {
        border-right: dashed rgba(0,0,0,0.0) 0px;
        border-top: dashed white 5px;
    }
    .contacts {
        border-right: dashed rgba(0,0,0,0.0) 0px;
        border-top: dashed white 5px;
    }
    .resume {
        border-right: dashed rgba(0,0,0,0.0) 0px;
        border-top: dashed white 5px;
    }
    .projects {
        border-right: dashed rgba(0,0,0,0.0) 0px;
        border-top: dashed white 5px;
    }
}

.intro {
    width: 80%;
    background-color: rgba(0,0,0,0.6);
    margin: 10%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.greet {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    margin: 5px;
    font-size: 60px;
}

.name {
    color: white;
    font-family: 'Pacifico', cursive;
    margin: 5px;
    font-size: 60px;
}

.description {
    color: white;
    width: 75%;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
}

.about-intro {
    background-image: url("https://thetechnoskeptic.com/wp-content/uploads/2019/03/NightSky_iStock_den-belitsky_900.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5px;
    padding-top: 15%;
    padding-bottom: 15%;
    margin-left: 4%;
    margin-right: 4%;
    border-left: solid black 7px;
    border-right: solid black 7px;
}
.about-text {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 4em;
    text-align: center;
    margin: 0px;
}

.character {
    background: linear-gradient(to bottom right, rgba(135,255,239,0.7) 1%, rgba(225,54,255,1) 50%, rgba(255,255,255,0.7) 94%);
    margin-left: 4%;
    margin-right: 4%;
    border-left: double plum 2vw;
    border-right: double plum 2vw;
}
.hrone {
    opacity: 0;
    margin: 0px;
}
.pic-me {
    width: 60%;
    border: double hotpink 15px;
    border-radius: 180px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}
.pic-alterme {
    width: 40%;
    border: double navy 15px;
    border-radius: 180px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}
.container-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.container-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.img-description {
    font-size: 5vw;
    font-family: 'Acme', sans-serif;
    color: white;
    margin: 0px;
}
.one-two {
    display: flex;
    justify-content: space-around;
}
.who-am-i-title {
    font-size: 3vw;
    font-family: 'Acme', sans-serif;
    color: white;
    margin-left: 5%;
    margin-bottom: 1%;
    margin-top: 5vh;
}
.who-am-i-description {
    font-family: 'Acme', sans-serif;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    width: 80%;
    font-size: 2vw;
}
.who-am-i-img {
    width: 30%;
    border: dotted black 5px;
    height: 40%;
    margin-right: 10%;
    margin-top: 5vh;
}
.container-three {
    display: flex;
    flex-direction: column;
}
.who-am-i {
    display: flex;
    justify-content: space-around;
}
.history-title {
    font-size: 3vw;
    font-family: 'Acme', sans-serif;
    color: white;
    margin-left: 5%;
    margin-bottom: 1%;
    margin-top: 5vh;
}
.history-text {
    font-family: 'Acme', sans-serif;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    width: 80%;
    font-size: 2vw;
}
.scholar-img {
    width: 100%;
    margin-top: 5vh;
}
.orange-equal {
    width: 60%;
}
.backstory {
    display: flex;
    justify-content: space-around;
}
.container-four {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.container-five {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: center;
}
.interests-title {
    font-size: 3vw;
    font-family: 'Acme', sans-serif;
    color: white;
    margin-left: 5%;
    margin-bottom: 1%;
    margin-top: 5vh;
}
.rose {
    width: 60%;
}
.interests-list {
    font-family: 'Acme', sans-serif;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    width: 80%;
    font-size: 2vw;
}
.interest {
    display: flex;
    flex-direction: column;
}
.song {
    text-decoration: none;
    color: white;
}
.final-title {
    font-size: 3vw;
    font-family: 'Acme', sans-serif;
    color: white;
    margin-left: 5%;
    margin-bottom: 1%;
    margin-top: 5vh;
}
.final-p {
    font-family: 'Acme', sans-serif;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    width: 80%;
    font-size: 2vw;
}
.final-note {
    padding-bottom: 3vh;
}

.projects-intro {
    background: url("https://cdn2.stylecraze.com/wp-content/uploads/2013/07/47-shutterstock_130738760.jpg") center;
    background-size: cover;
    padding: 4rem 6rem;
    margin-left: 5%;
    margin-right: 5%;
    border-left: black solid 10px;
    border-right: black solid 10px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.projects-text {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 7vw;
    color: white;
}
.projects-intro-inside-p {
  font-family: 'Quicksand', sans-serif;
  margin-left: 7%;
  color: white;
  font-size: 1.9vw;
}
.gallery{
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  grid-gap: 1em;
  margin-top: 2%;
}
.gallery > div > img {
  width: 100%;
}
.gallery > div {
  background-color: white;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.gallery > div > p {
  font-size: 2vw;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
.projects-intro-shady {
  background-color: rgba(0,0,0,0.6);
}

.resume-intro {
background-image: url("https://www.metro-check.com/wp-content/uploads/2018/01/pexels-photo-733856.jpg");
background-size: cover;
background-repeat: no-repeat;
margin-top: 5px;
padding-top: 15%;
padding-bottom: 15%;
margin-left: 4%;
margin-right: 4%;
border-left: solid black 7px;
border-right: solid black 7px;
}

.resume-pdf {
  width: 80%;
margin-top: 5%;
height: 200vh;
border: double black 20px;
margin-bottom: 10%;
}

.call-intro {
  background-image: url("http://www.upperside.immo/wp-content/uploads/2015/10/contact-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5px;
  padding-top: 15%;
  padding-bottom: 15%;
  margin-left: 4%;
  margin-right: 4%;
  border-left: solid black 7px;
  border-right: solid black 7px;
}

.call-text {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 4em;
    text-align: center;
    margin: 0px;
}
.pls-help {
  margin-bottom: 20px;
}
label {
  color: white;
  font-size: 30px;
}
form {
  width: 50%;
  text-align: left;
  margin-bottom: 10%;
}
.captch {
    background-color: lightgray;
    border: solid darkblue;
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 50px;
    align-items: center;
    margin-bottom: 20px;
}
